@model VotingPollApp.Models.Poll

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Poll</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Choice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Choice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Votes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Votes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question.Question1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.Question1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.User_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.User_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
